@media screen and (max-width: 1160px) {
    .UserCard {
        flex-direction: column;
        width: auto;
        padding: 16px;
    }
    .UserCard__Image {
        width: 130px;
        margin-bottom: 16px;
    }
    .UserCard_Company {
        font-size: 14px;
    }
    .UserCard_City {
        font-size: 10px;
    }
}
@media screen and (min-width: 1161px) {
    .UserCard {
        flex-direction: row;
        width: 360px;
        padding: 24px;
    }
    .UserCard__Image {
        width: 112px;
        margin-right: 20px;
    }
}

.UserCard {
    background: #FDFDFD;
    display: flex;
    border-radius: 16px;
    box-sizing: border-box;
}

.UserCard__Image {
    height: 120px;
}
.UserCard.Archived .UserCard__Image {
    filter: grayscale(100%);
}

.UserCard__Info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.UserCard_Name {
    color: #22A0BC;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}
.UserCard.Archived .UserCard_Name {
    color: #595959;
}
.UserCard_Company {
    color: #595959;
    font-size: 16px;
}
.UserCard.Archived .UserCard_Company {
    color: #9c9c9c;
}
.UserCard_City {
    color: #9c9c9c;
    font-size: 14px;
}
.UserCard.Archived .UserCard_City {
    color: #dadada;
}